<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
     <!-- 注册Service -->
    <bean id="myService" class="com.spring.ba05.SomeServiceImpl"/>
    <bean id="myService2" class="com.spring.ba05.SomeServiceImpl"/>
    
    <!-- 注册Bean后处理器 -->
    <bean class="com.spring.ba05.MyBeanPostProcessor"/>
</beans>