<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   
    <!-- 注册动态工厂,在Bean初始化时会创建factory对象 -->
    <bean id="factory" class="com.spring.ba02.ServiceFactory"/>
    
     <!-- 注册Service：动态工厂Bean -->
    <bean id="myService" factory-bean="factory" factory-method="getSomeService"/>
</beans>