<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- 注册Student -->
    <bean id="myStudent" class="com.spring.di13.Student" parent="baseBean">
    	<property name="name" value="麻二"/>
    	<property name="age" value="2"/>
    </bean>
    
    <!-- 注册Teacher -->
    <bean id="myTeacher" class="com.spring.di13.Teacher" parent="baseBean">
    	<property name="name" value="大神"/>
    	<property name="workage" value="30"/>
    </bean>
</beans>